.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--grey-color);
}

.filters {
  display: flex;
}

.filter {
  font-size: 1.4rem;
  margin: 0.3rem;
  text-transform: capitalize;
  background-color: transparent;
  color: var(--accent-color);
  opacity: 0.8;
  font-weight: bold;
}

.filter:hover,
.filter.selected {
  opacity: 1;
}

.filter.selected::after {
  content: "";
  display: block;
  margin-top: 0.2rem;
  border: 1px solid var(--text-color);
}
