.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.logo {
  width: 2rem;
}

.navbar-nav {
  display: flex;
  gap: 1rem;
}

.navbar-action {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.nav-button {
  padding: 0.5rem 1rem;
}

.nav-button--primary {
  background-color: aqua;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.nav-button--secondary {
  background-color: grey;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
